<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PTS"
        tools:targetApi="31">
        <activity
            android:name=".BeforeReview"
            android:exported="false" />
        <activity
            android:name=".HireaTutor3"
            android:exported="false" />
        <activity
            android:name=".paymentscash"
            android:exported="false" />
        <activity
            android:name=".Paymentscredit"
            android:exported="false" />
        <activity
            android:name=".Payments"
            android:exported="false" />
        <activity
            android:name=".Review"
            android:exported="false" />
        <activity
            android:name=".TutoringCategoriesForTutors"
            android:exported="false" />
        <activity
            android:name=".TutoringCategories"
            android:exported="false"
            android:label="@string/title_activity_tutoring_categories"
            android:theme="@style/Theme.PTS" />
        <activity
            android:name=".BecomeATutor2"
            android:exported="false" />
        <activity
            android:name=".BecomeATutor1"
            android:exported="false"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".HireaTutor2"
            android:exported="false" />
        <activity
            android:name=".HireaTutor1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>